*{padding: 0; margin: 0; box-sizing: border-box;}
.nav1{ 
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;

}
.s-icon i{
    font-size: 20px;
    margin: 0px 5px;
    border-radius: 50%;
    padding: 10px;
    background:#d99a09;
    color: white;

}
.logo{
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    font-family: 'Satisfy', cursive;}

.logo span{
    font-size: 20px;
    color: #d99a09;
}
.search i{
    font-size: 40px;
}
.nav2{
    width: 100%;
    height: 50px;
    box-shadow: 2px 3px 5px grey;}
.menu{
    width: 70%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.menu a:hover{
    background: #d99a09;
    color: aliceblue;
    transition: 0.4s linear;

}
header{
    width: 100%;
    display: flex;
}
header div{
    position: relative;
    cursor: pointer;
    overflow: hidden;

}
header div img{
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}
header div p{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 20px;
    text-align: center;
}
header div a{
    text-decoration: none;
    background: #d99a09;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 20px;

}
header div img:hover{
    transform: scale(1.5);
}
#play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgb(255, 240, 240);
    background: #d99a09;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
}

#about{
    padding: 100px 50px;
    width: 100%;
}
.about-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about-left-col{
    flex-basis: 70%;
   
    text-align: center;
}
.anout-right-col{
    flex-basis: 30%;
}
.about-left-col img{
    width: 80%;
}
.about-left-col h2{
    color: #d99a09;
}
.about-left-col h1{
    font-size: 40px;
    font-family:'Satisfy', cursive; 

}
.about-left-col p{
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0px;
}
#about-text{
    font-size: 20px;
    color: grey;
    text-align:justify ;
    width: 80%;
    margin: 20px auto;
    text-transform: capitalize;
}
.about-left-col a{
    text-decoration: none;
    color: aliceblue;
    background: #d99a09;
    padding: 10px 20px;
    border: 1px solid white;
}
.aboutme{
    padding: 20px;
    text-align: center;
    max-width: 300px;
    margin:20px auto;
}
.aboutme h2{
    font-family: 'Satisfy', cursive; 
    font-size: 40px;
    color: #d99a09;
   
}
.aboutme p{
    font-size: 20px;
    margin:10px 0px;
    color: grey;
}
.aboutme i{
    font-size: 30px;
    margin: 20px 5px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
.aboutme i:hover{
    background: #d99a09;
    color: aliceblue;
    transition: 0.4s linear;
}
.container{
    font-size: 25px;
    margin: 50px 20px;
    padding: 10px;
    background: #d99a09;
}



    